[core]
    editor = vim

[alias]
    prom = pull --rebase origin master
    lol = log --oneline --graph --decorate
    ci = commit -a
    cian = commit -a --amend --no-edit
    co = checkout
    st = status -uall
    br = branch
    df = diff
[user]
	email = javiersanjoseglez@gmail.com
	name = Javier San Jose
